html, body {
    margin: 0;
    padding: 0;
  }
  canvas{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 100px;
    border: 2px lime;

  }
  canvas{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
    border: 10px solid blue;

  }
  